@chartset "UTF-8";

#UsuarioNuevo{
    margin: 0px;
    background: #C3C3C3; 
    padding: 5px;
    margin-bottom: 2em;
    /*para Firefox*/
    -moz-border-radius: 11px 11px 0px 0px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 11px 11px 0px 0px;
    /* para Opera */
    border-radius: 11px 11px 0px 0px;
}

#listausuarios #tencabezado{
    display: block; 
    overflow-y: hidden;
}

#listausuarios #tcuerpo{
    display: block; 
    height: 300px;
    overflow-y: scroll;
}

#NewUser{
    margin-bottom: 1em;
}

#tablaU{
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

#btnconfirmar{
    background: #FAAC58;
    font-family: sans-serif;
    color: #fff;
    border-style: none;
    font-size: 1em;
    padding: 5px;
    width: 7em;
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
}

#btnnuevo{
    background: #FAAC58;
    font-family: sans-serif;
    color: #fff;
    border-style: none;
    font-size: 1em;
    padding: 5px;
    width: 7em;
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
}

#btnBorrar{
    background: #FAAC58;
    font-family: sans-serif;
    color: #fff;
    border-style: none;
    font-size: 1em;
    padding: 5px;
    /*para Firefox*/
    -moz-border-radius: 15px 15px 15px 15px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 15px 15px 15px 15px;
    /* para Opera */
    border-radius: 15px 15px 15px 15px;
}

#listausuarios{  
    display: inline-block;
    margin: auto;
}