@charset "utf-8";
/* CSS Document */

body{
	background-color:#444;
	
}
.caja header {
	/*background-color: #CCC;*/
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
}
.caja header h1 {
	margin: 0px;
	padding: 0px;
    color: crimson
}
.caja nav {
	background-color: #CCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	margin-bottom: 5px;
    padding-top: 1px;
    height: 30px;
	text-align:right; 	
}
.caja nav ul {
	margin:0px;
	padding: 5px;
	list-style-type: none;
}

/*
.caja nav ul li {
	display: inline;
}
/*
.caja nav ul li a {
	padding-right: 5px;
	padding-left: 5px;
	color: #000;
	background-color: #E6E6E6;
}*/
.caja section {
	width: 60%;
    height: 21em;
	float: left;
	background-color: #CCCCCC;
	padding: 5px;
    margin-bottom: 10px;
}
.caja section article {
	width: 99%;
	background-color: white;
	padding: 5px;
    height: 20em;
    text-align: center;
    
}
.caja aside {
	float: right;
	width: 38%;
	background-color:white;
	margin-bottom: 5px;
	padding: 5px;
}
.caja footer {
    clear: both;
    height: 10px;
	background-color: #CCC;
	font-size: small;
	padding: 5px;
	text-align: center;
}
.caja {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
	a{
		font-family: arial,Helvetica,Sans-serif;
		color: #000;
        text-align: center;
		text-decoration: none;
		font-size: 1.3em;
		padding: 6px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #ccc;
		background-color: #ccc;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #ccc;
        border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #eaeaea;
	}
	a:hover{
		color: #fff;
		background-color: #666;
	}
	.caja nav ul{
		list-style-type:none;
		margin:5px;
		padding: 0px;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #ccc; 
		overflow:hidden;
	}
	.caja nav ul li {
		display: inline;
	}
